<!DOCTYPE html>
<html>
<head>
    <title>smui 测试</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="http://image.uc.cn/s/uae/g/2p/smui/smicon/style.css">
<link rel="stylesheet" type="text/css" href="./css/main.less">
<script type="text/javascript" src="http://image.uc.cn/s/uae/g/2p/cpc/resource/vendor/mod.js"></script><!--ignore-->

<script type="text/javascript" src="./resource/vendor/lib/mod.js"></script>
<script type="text/javascript" src="http://image.uc.cn/s/uae/g/2p/cpc/resource/vendor/lib/vue.js"></script>

<script type="text/javascript" src="http://image.uc.cn/s/uae/g/2p/cpc/resource/vendor/core-js-1.0.js"></script><!--ignore-->

<script type="text/javascript" src="http://image.uc.cn/s/uae/g/2p/cpc/resource/vendor/cpc-vendor.js"></script><!--ignore-->

<script type="text/javascript" src="./components/main"></script>
<div id="main" class="smui"></div>
<script type="text/javascript">
    // var smui = require('smui');
    require('./main');
    require('./src/main');

    
</script>
</body>
</html>